 {
  "root": true,
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "extends": ["eslint-config-custom/eslint-base-config"],
  "ignorePatterns": ["eslint-config-custom", "jest.config.js", "tsconfig.json"]
}
